<a href="https://colab.research.google.com/github/moizarsalan/Internship-ProSensia/blob/main/Day_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **String and Integer with Fallback**

In [1]:
def str_to_int(s, default):
    try:
        return int(s)
    except ValueError:
        return default

print(str_to_int("123", 0))
print(str_to_int("abc", 0))

123
0

# **Integer to String with Formatting**

In [2]:
def int_to_str(n, format_spec):
    return format(n, format_spec)

print(int_to_str(123, "05d"))
print(int_to_str(123, "e"))

00123
1.230000e+02

# **Float to Integer with Multiple Rounding Options**

In [3]:
import math

def float_to_int(f, strategy):
    if strategy == "up":
        return math.ceil(f)
    elif strategy == "down":
        return math.floor(f)
    elif strategy == "nearest":
        return round(f)
    else:
        raise ValueError("Invalid rounding strategy")

print(float_to_int(3.7, "up"))
print(float_to_int(3.7, "down"))
print(float_to_int(3.7, "nearest"))

4
3
4

# **List of String to list of Integers With Error logging**

In [4]:
def strs_to_ints(lst):
    ints = []
    errors = []
    for s in lst:
        try:
            ints.append(int(s))
        except ValueError:
            errors.append(s)
    return ints, errors

# Example usage:
print(strs_to_ints(["123", "abc", "456"]))  # Output: ([123, 456], ['abc'])

([123, 456], ['abc'])

# **Arithmatic Operation Tasks**

# **Addition with Type Enforcement**

In [ ]:
def add_numbers(a, b):
    if not isinstance(a, (int, float)) or not isinstance(b, (int, float)):
        raise TypeError("Both inputs must be numbers")
    return a + b

print(add_numbers(3, 5))

# **Commulative Subtraction with list Verification**

In [5]:
def cumulative_subtraction(lst):
    if len(lst) < 2 or not all(isinstance(x, (int, float)) for x in lst):
        raise ValueError("List must contain at least two numeric values")
    result = lst[0]
    for num in lst[1:]:
        result -= num
    return result

print(cumulative_subtraction([10, 3, 2]))

5

# **Exponention Table**

In [6]:
def exponentiation_table(base, exp_range):
    return [f"{base}^{i} = {base**i}" for i in range(1, exp_range + 1)]

print(exponentiation_table(2, 5))

['2^1 = 2', '2^2 = 4', '2^3 = 8', '2^4 = 16', '2^5 = 32']

# **Safe Division with Customer Handling**

In [7]:
class DivisionByZeroError(Exception):
    pass

def safe_divide(a, b, precision):
    if b == 0:
        raise DivisionByZeroError("Cannot divide by zero")
    return round(a / b, precision)

print(safe_divide(10, 3, 2))

3.33

# **String Operations**

# **Advanced String Split and Conditional Joint**

In [8]:
def split_and_join(s, split_delim, join_delim, condition_len=3):
    parts = s.split(split_delim)
    filtered_parts = [part for part in parts if len(part) > condition_len]
    return join_delim.join(filtered_parts)

print(split_and_join("apple,banana,pear,fig", ",", "-", 3))

apple-banana-pear

# **Enhanced Palindrome Check wit Character Frequency Analysis**

In [9]:
import re
from collections import Counter

def palindrome_and_freq(s):
    cleaned = re.sub(r'[^A-Za-z0-9]', '', s).lower()
    is_palindrome = cleaned == cleaned[::-1]
    freq = Counter(cleaned)
    return is_palindrome, dict(freq)

print(palindrome_and_freq("A man, a plan, a canal, Panama"))

(True, {'a': 10, 'm': 2, 'n': 4, 'p': 2, 'l': 2, 'c': 1})