<a href="https://colab.research.google.com/github/moizarsalan/Internship-ProSensia/blob/main/Day_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tuple Basic**

In [2]:
people = ('Alice', 'Bob', 'Charlie')
print(people[1])

Bob

# **Tuple and Max Funation**

In [1]:
def max_in_tuple(t):
    return max(t)

numbers = (4, 7, 1)
print(max_in_tuple(numbers))

7

# **Immutable Property**

In [3]:
fruits = ('apple', 'banana', 'cherry')
try:
    fruits[1] = 'orange'
except TypeError as e:
    print(f"Error: {e}")

Error: 'tuple' object does not support item assignment

# **Tuple Operations**

In [4]:
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)

my_list.append(4)
print(my_list)

try:
    my_tuple.append(4)
except AttributeError as e:
    print(f"Error: {e}")

[1, 2, 3, 4]
Error: 'tuple' object has no attribute 'append'

# **Tuple Assignments**

In [5]:
def swap(a, b):
    a, b = b, a
    return a, b

a = 5
b = 10
a, b = swap(a, b)
print(a, b)

10 5

# **Dictionary Tuple**

In [6]:
def dict_to_tuples(d):
    return list(d.items())

sample_dict = {'x': 1, 'y': 2, 'z': 3}
print(dict_to_tuples(sample_dict))

[('x', 1), ('y', 2), ('z', 3)]

# **Sorting Tuple**

In [7]:
def sort_dict_by_values(d):
    return sorted(d.items(), key=lambda item: item[1], reverse=True)

sample_dict = {'a': 10, 'b': 1, 'c': 22}
print(sort_dict_by_values(sample_dict))

[('c', 22), ('a', 10), ('b', 1)]

# **Tuple Comparison**

In [8]:
def compare_tuples(t1, t2):
    return [a == b for a, b in zip(t1, t2)]

tuple1 = (1, 2, 3)
tuple2 = (3, 2, 1)
print(compare_tuples(tuple1, tuple2))

[False, True, False]

# **Top N Frequent Words**

In [9]:
from collections import Counter

def top_n_words(text, n):
    words = text.split()
    word_count = Counter(words)
    return word_count.most_common(n)

text = "this is a sample text with sample words this text is used to count words and find the most common word"
n = 3
print(top_n_words(text, n))

[('this', 2), ('is', 2), ('sample', 2)]

# **List Comparison With Tuple**

In [10]:
def reverse_dict(d):
    return sorted([(v, k) for k, v in d.items()])

sample_dict = {'a': 10, 'b': 1, 'c': 22}
print(reverse_dict(sample_dict))

[(1, 'b'), (10, 'a'), (22, 'c')]