<a href="https://colab.research.google.com/github/moizarsalan/Internship-ProSensia/blob/main/Day_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Task 01: Printing Greeting using functions**

In [1]:
def a():
    print("Hello, World!")

a()

Hello, World!

# **Task 02: Max Value Functions**

In [2]:
def b(c):
    return max(c)

print(b("Hello World"))

r

# **Task 03: Convert to Float Function**

In [3]:
def d(e):
    return float(e)

print(d(42))

42.0

# **Task 04: Add numbers Functions**

In [4]:
def f(g, h):
    return g + h

print(f(10, 20))

30

# **Task 05: Greet Functions**

In [5]:
def i(j):
    if j == 'en':
        print("Hello")
    elif j == 'es':
        print("Hola")
    elif j == 'fr':
        print("Bonjour")

i('en')
i('es')
i('fr')

Hello
Hola
Bonjour

# **Task 06: Compute Pay Function**

In [6]:
def k(l, m):
    if l > 40:
        return 40 * m + (l - 40) * 1.5 * m
    else:
        return l * m

print(k(45, 10))

475.0

# **Task 07: Integer Functions**

In [7]:
def n(o):
    try:
        int(o)
        return True
    except ValueError:
        return False

print(n("123"))
print(n("hello"))

True
False

# **Task 08: Lyric Function**

In [8]:
def p():
    print("Twinkle, twinkle, little star,")
    print("How I wonder what you are!")
    print("Up above the world so high,")
    print("Like a diamond in the sky.")

p()

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

# **Task 09: Multiple Numbers Function**

In [9]:
def q(r, s):
    return r * s

print(q(7, 8))

56

# **Task 10: Calculate Expression Function**

In [10]:
def t():
    return 1 + 2 * float(3) / 4 - 5

print(t())

-2.5