<a href="https://colab.research.google.com/github/moizarsalan/Internship-ProSensia/blob/main/Day_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Gross Pay**

In [1]:
def gross_pay_calculation(hrs, rate):
    return hrs * rate

num1 = float(input("Enter Hours: "))
num2 = float(input("Enter Rate: "))

Salary = gross_pay_calculation(num1, num2)
print("Your Gross pay is: ", Salary)

Enter Hours: 2
Enter Rate: 12
Your Gross pay is:  24.0

# **2. Temperature Conversion**

In [2]:
temp_Celcuis = float (input("\nEnter your temperature in Celcuis: "))

formula = temp_Celcuis * 1.8 + 32

print ("\nThe temperature in Farhenhiet is: ", formula)
print ("")

Enter your temperature in Celcuis: 24

The temperature in Farhenhiet is:  75.2

# **3. Number Sign Check**

In [4]:
num = float (input ("Enter a number: "))

if num < 0:
    print ("The number is negative")

if num > 0:
    print ("The numebr is Positive")

if num == 0:
    print ("The number is zero")

Enter a number: 2
The numebr is Positive

# **4. Leap Year Check**

In [5]:
def Leap_year(year):
    if (year % 4 == 0):
        if (year % 100 == 0):
            if (year % 400 == 0):
                return True
            else:
                return False
        else:
            return True
    else:
        return False

year = int(input("Enter a year: "))

if Leap_year(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2024
2024 is a leap year.

# **5. Arithmatic Operator**

In [6]:
def calc_ops(n1, n2):
    sum_res = n1 + n2
    diff_res = n1 - n2
    prod_res = n1 * n2
    quot_res = n1 / n2 if n2 != 0 else 'undefined'

    return sum_res, diff_res, prod_res, quot_res

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

sum_res, diff_res, prod_res, quot_res = calc_ops(num1, num2)

print(f"The sum is: {sum_res}")
print(f"The difference is: {diff_res}")
print(f"The product is: {prod_res}")
print(f"The quotient is: {quot_res}")

Enter the first number: 2
Enter the second number: 5
The sum is: 7.0
The difference is: -3.0
The product is: 10.0
The quotient is: 0.4

# **5. Factorial**

In [7]:
def fact(n):
    if n == 0 or n == 1:
        return 1
    f = 1
    for i in range(2, n + 1):
        f *= i
    return f

num = int(input("Enter a number: "))
result = fact(num)
print(f"The factorial of {num} is: {result}")

Enter a number: 3
The factorial of 3 is: 6

# **7. Reverse String**

In [8]:
s = input("Enter a string: ")

s_rev = s[::-1]

print(s_rev)

Enter a string: Abdul Moiz Arsalan
nalasrA zioM ludbA

# **8. Multiplications**

In [9]:
num1 = float(input("Enter the first number: "))

num2 = float(input("Enter the second number: "))

product = num1 * num2

print("THe product of two number is: ", product)

Enter the first number: 5
Enter the second number: 6
THe product of two number is:  30.0

# **9. Square Root**

In [10]:
num = float(input("Enter a number: "))

square = num ** 2

print ("The square of the number is: ", square)

Enter a number: 6
The square of the number is:  36.0

# **10. Division**

In [11]:
num1 = float(input("Enter the 1st Number: "))
num2 = float(input("Enter the 2nd Number: "))

if num2 != 0:
    quotient = num1 / num2
    print ("The quotient is: ", quotient)

else:
    print("Division by zero is undefined.")

Enter the 1st Number: 10
Enter the 2nd Number: 2
The quotient is:  5.0